<section id="characteristics-section">
  <p class="characteristic-label">Vigueur</p>
  <p class="text-justify">La Vigueur regroupe la puissance physique, la force brute et la robustesse d'un personnage, mais aussi sa capacité à s'en
    servir quand il le faut. Les personnages dotés d'une Vigueur élévée sont en bonne forme physique et solidement constitués.
    Ils tombent rarement malades et ont une bonne résistance. La Vigueur est utilisée dans le cadre de compétences comme
    Athlétisme et Pugilat. On s'en sert aussi pour fixer le seuil de blessure de départ des personnages.
  </p>
  <p class="characteristic-label">Agilité</p>
  <p class="text-justify">
    L'Agilité mesure l'adresse, la coordination et la précision. Les personnages dotés d'une Agilité élevée ont un bon sens de
    l'équilibre, sont souples et habiles de leurs mains. Cette caractéristique est utilisée dans le cadre d'un certain nombre
    de compétences physiques, comme Coordination. Elle est aussi essentielle pour les compétences de combat à distance comme
    Distance (armes légères) et Distance (armes lourdes).
  </p>
  <p class="characteristic-label">Intelligence</p>
  <p class="text-justify">
    L'Intelligence reprend les facultés de compréhension, l'éducation, l'acuité mentale, et les capacités de raisonnement et
    de rationalisation. Les personnages dotés d'une Intelligence élévée peuvent extrapoler, se souvenir de détails et tirer
    parti d'expériences passées, mais également réfléchir à des stratégies à long terme et aux ramifications d'actions présentes.
    L'Intelligence sert à plusieurs compétences mentales comme Astrogation, Informatique, et toutes les formes de Connaissance
    (Culture et Xénologie, par exemple).
  </p>
  <p class="characteristic-label">Ruse</p>
  <p class="text-justify">
    La Ruse traduit l'ingéniosité, la fourberie, la perspicacité et la créativité. Les personnages dotés d'une ruse élévée ont
    de la jugeote, saisissent rapidemment leur environnement et ceux qui les entourent, et préparent plus vite leurs plans
    et tactiques. Cette caractéristique est associée à un certain nombre de compétences mentales comme Tromperie, Perception
    et Survie.
  </p>
  <p class="characteristic-label">Volonté</p>
  <p class="text-justify">
    La Volonté reflète la discipline, le sang-froid, la force d'âme et l'assurance d'un personnage Les personnages dotés d'une
    Volonté élevée résistent au stress et à la fatigue, gardent leur calme dans les situations les plus chaotiques, et excercent
    leur influence sur les esprits les plus faibles. Cette caractéristique est associée à certaines compétences comme Coercicion
    et Viligence. On s'en sert aussi pour déterminer le seuil de stress de départ des personnages.
  </p>
  <p class="characteristic-label">Présence</p>
  <p class="text-justify">
    La Présence regroupe le cran, le charisme, la confiance et la force de caractère. Les personnages dotés d'une Présence élevée
    sont des leaders tout désignés, attirent les regards quand ils rentrent dans une pièc, mèncent facilement une conversation
    avec n'importe qui et s'adaptent rapidement à toute situation en société. C'est la caractéristique clé de compétences
    sociales comme Charme et Commandement.
  </p>
</section>