#speciesList .card {
    margin-bottom: 30px;
}

#speciesList .card .card-img-top {
    max-height: 100px;
}

#speciesList .card-footer {
    padding: 2px;
}

#speciesList .card-footer img {
    max-width:100%;
} 
