<div class="container-fluid" id="speciesList">

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bothan</h4>
          <p class="card-text text-justify">
            Les Bothans sont les habitants de la planète Bothawui et d"autres planètes comme Kothlis. Durant la Guerre des Clones, ils
            étaient alliés à la République Galactique et défendaient ses idéaux. Des années plus tard ils donnèrent des informations
            appartenant à l'Empire Galactique à l'Alliance Rebelle et notamment des codes impériaux leur permettant de se
            poser sur la lune Forestière d'Endor. Suite à ça, la plupart se sont fait éliminer par l'Empire pour trahison.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>3</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Droïde</h4>
          <p class="card-text">
            description droïde
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>1</span>
            <span>INT:&nbsp;</span>
            <span>1</span>
            <span>RUS:&nbsp;</span>
            <span>1</span>
            <span>VOL:&nbsp;</span>
            <span>1</span>
            <span>PRE:&nbsp;</span>
            <span>1</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Gand</h4>
          <p class="card-text text-justify">
            Les Gands sont une espèce originaire de la planète Gand. Il s'agit d'un peuple d'insectoïdes respirant de l'ammonium, les
            obligeant à porter un masque respiratoire hors de leur monde natal.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>3</span>
            <span>PRE:&nbsp;</span>
            <span>1</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Humain</h4>
          <p class="card-text text-justify">
            On peut trouver des humains sur quasiment toutes les planètes civilisées de la galaxie, et même sur certaines planètes sauvages.
            Cela a donné naissance à la théorie de l'apparition simultanée de la race humaine sur plusieurs planètes distinctes.
            Néanmoins, il est plus probable, au vu de leurs ressemblances génétiques et des théories actuelles sur l'évolution,
            que tous les humains de la galaxie soient originaires d'une seule et même souche vivant à l'origine sur une seule
            planète. L'identité de cette planète est inconnue, et de nombreuses planètes clament ainsi être le berceau de
            l'humanité. Citons ainsi Coruscant, Corellia et Alderaan.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Rodien</h4>
          <p class="card-text text-justify">
            Les Rodiens sont une espèce de reptiles humanoïdes originaire de la planète Rodia. Espèce violente et considérée comme inférieure
            aux humains, beaucoup quittèrent leur planète pour devenir contrebandiers ou chasseurs de primes, comme Greedo,
            tueur assassiné par Han Solo. D'autres faisaient honneur à leur planète et la représentaient au Sénat Galactique
            comme le célèbre Onaconda Farr ou combattaient au coté de l'Alliance Rebelle contre l'Empire Galactique.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>3</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>1</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Trandosien</h4>
          <p class="card-text text-justify">
            Les Trandosien, aussi appelés Trandoshans, sont des reptiles humanoïdes habitants de la planète Trandosha. Ils sont connus
            pour leur pratique de l'esclavagisme sur les Wookiees, peuple avec lequel ils sont en froid et avec qui ils eurent
            plusieurs guerres . Leurs vocations était principalement d'être des guerriers ou des chasseurs de primes. Ils
            pratiquent régulièrement la chasse et aimaient particulièrement faire de leurs victimes des trophées.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>3</span>
            <span>AGI:&nbsp;</span>
            <span>1</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Tw'ilek</h4>
          <p class="card-text text-justify">
            Les Twi'leks sont une espèce humanoïde originaire de la planète Ryloth, dont la peau est de différentes couleurs, en fonction
            de l'individu : rouge, jaune, bleue ou encore verte. Ils possédent une paire de tentacules sur le crâne appelés
            lekku, dont ils se servent, en plus des mots, pour parler leur langue, le Twi'leki, qui nécessite ces deux moyens
            pour être comprise.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>3</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Wookie</h4>
          <p class="card-text text-justify">
            Forts, intelligents et féroces, les Wookies sont néanmois les meilleurs amis de leur alliés loyaux, et les pires ennemis
            des autres. Malheureusement, les Wookies se font rares parmis la population de la galaxie et ne seront bientôt
            plus qu'un lointain souvenir de l'Ancienne République.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>3</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>1</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Duros</h4>
          <p class="card-text text-justify">
            Les Duros sont une espèce humanoïde originaire de Duro, une planète des Mondes du Noyau. Ils possédent une peau de couleur
            bleu grise, une paire de grands yeux rouges dépourvus de pupille, une bouche sans lèvres et un long visage sans
            nez. Leur sang est vert..
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>3</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Gran</h4>
          <p class="card-text text-justify">
            Les Grans sont des humanoïdes mesurant 1 m 60 en moyenne, descendants d'ongulés herbivores et originaires de la planète Kinyen.
            Ils ont une tête ressemblant à celle d'un bouc (ou d'un veau) imberbe, trois yeux noirs protubérants, des oreilles
            triangulaires en éventail ainsi que de petites cornes sur le haut du crâne. Ils bénéficient d'une excellente
            vision et distinguent plus de couleurs que la plupart des espèces.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>1</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>3</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Ithoriens</h4>
          <p class="card-text text-justify">
            Les Ithoriens sont des humanoïdes natifs de la planète Ithor. Ils parlent l'Ithorese et pouvent utiliser un traducteur Ithorien
            pour parler le basic. Les Ottegans ont été créés génétiquement à partir d'eux.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>1</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>3</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Mon Calamari</h4>
          <p class="card-text text-justify">
            Les Mon Calamari, aussi appelés Calamari ou Calamariens, sont l'une des deux espèces intelligentes originaires de la planète
            Mon Cala.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>3</span>
            <span>RUS:&nbsp;</span>
            <span>1</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Sullustéen</h4>
          <p class="card-text text-justify">
            Les Sullustéens sont une espèce humanoïde originaire de la planète Sullust. Ils sont reconnus pour leur expertise en ingénierie,
            économie et en sciences. Ils sont caractérisés par leurs joues tombantes.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>3</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>1</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Céréen</h4>
          <p class="card-text text-justify">
            Les Céréens sont une race d'extraterrestres humanoïdes originaire de la planète Céréa. Ils sont facilement identifiables
            à leurs grosses prédominances crâniennes dues à leur cerveau binaire. Leur cerveau est si volumineux et efficace
            qu'il est irrigué par un système vasculaire inédit constitué de deux cœurs.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>1</span>
            <span>INT:&nbsp;</span>
            <span>3</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Kel Dor</h4>
          <p class="card-text text-justify">
            Les Kel Dors sont une race originaire de la planète Dorin. Ils ont la particularité de devoir porter un masque respiratoire
            nommé le masque antiox hors de leur planète car ils ne respirent pas de l'oxygène, comme la plus part des autres
            espèces tel que les humains, mais un mélange de gaz Dorin et d'hélium.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>3</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Mirialian</h4>
          <p class="card-text text-justify">
            Les Mirialans sont des Proche-Humains du à leurs ressemblances avec ces derniers. Il sont originaire de la planète Mirial.
            Vivant sur une planète rude et aride, quasiment désertique sur sa totalité, les Mirialans ce sont dotés d'un
            panel sensoriel élaboré, qui rend leur vie bien meilleure et supportable. Les Mirialans parviennent ainsi à user
            de leurs sens et à les contrôler totalement dans le but de limiter la souffrance de leur corps. Cette espèce
            appréhende la vie d'une manière paradoxale, quand on sait qu'elle est très croyante. En effet, les Mirialans
            ne croient pas en une fatalité qui réduit chaque individu à un rôle prédéfini.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>3</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>1</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nautolan</h4>
          <p class="card-text text-justify">
            Les Nautolans sont une race de non-humain qui viennent de la planète Glee Anselm, une planète recouverte d'eau qui fait de
            cette race, une race amphibie. Ils vivent à la fois sur terre et dans l'eau.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>3</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>1</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Togruta</h4>
          <p class="card-text text-justify">
            Les Togrutas sont une espèce humanoïde originaire de la planète Shili. Une colonie importante de Togruta existe aussi sur
            Kiros.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>3</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Zabrak</h4>
          <p class="card-text text-justify">
            Les Zabraks sont une espèce d'humanoïde cornue. Ils sont divisés en deux sous-espèces : les Iridoniens, originaire d'Iridonia
            et les Dathomiriens, originaire de Dathomir.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>2</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>3</span>
            <span>PRE:&nbsp;</span>
            <span>1</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nautolan</h4>
          <p class="card-text text-justify">
            Les Nautolans sont une race de non-humain qui viennent de la planète Glee Anselm, une planète recouverte d'eau qui fait de
            cette race, une race amphibie. Ils vivent à la fois sur terre et dans l'eau.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>3</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>2</span>
            <span>VOL:&nbsp;</span>
            <span>1</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Togruta</h4>
          <p class="card-text text-justify">
            Les Togrutas sont une espèce humanoïde originaire de la planète Shili. Une colonie importante de Togruta existe aussi sur
            Kiros.
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>1</span>
            <span>AGI:&nbsp;</span>
            <span>2</span>
            <span>INT:&nbsp;</span>
            <span>2</span>
            <span>RUS:&nbsp;</span>
            <span>3</span>
            <span>VOL:&nbsp;</span>
            <span>2</span>
            <span>PRE:&nbsp;</span>
            <span>2</span>
          </small>
        </div>
      </div>
    </div>
  </div>


</div>