<div class="container-fluid">

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="speciesList">

    <div class="card-deck" *ngFor="let speciesLine of this.speciesList">
      <div class="card clickable" *ngFor="let species of speciesLine" routerLink="/species/{{ species.key }}">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ species.label }}</h4>
          <p class="card-text text-justify">
            {{ species.description }}
          </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
            <span>VIG:&nbsp;</span>
            <span>{{ species.characteristics.brawn }}</span>
            <span>AGI:&nbsp;</span>
            <span>{{ species.characteristics.agility }}</span>
            <span>INT:&nbsp;</span>
            <span>{{ species.characteristics.intellect }}</span>
            <span>RUS:&nbsp;</span>
            <span>{{ species.characteristics.cunning }}</span>
            <span>VOL:&nbsp;</span>
            <span>{{ species.characteristics.willpower }}</span>
            <span>PRE:&nbsp;</span>
            <span>{{ species.characteristics.presence }}</span>
          </small>
        </div>
      </div>
    </div>

  </section>

</div>