.row {
    display: flex;
    flex-wrap: wrap;
 }

 #speciesSingle .species-characteristics {
     margin-bottom: 20px;
 }

 #speciesSingle .species-characteristics img {
     width: 100%;
     max-width: 200px;
 }

 #speciesSingle .characteristic {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
 }
 
 #speciesSingle .characteristic p:first-child {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
 }

 #speciesSingle .characteristic p {
    margin-bottom: 0px
 }

 #speciesSingle .characteristic-other p {
    margin-bottom: 0px
 }

 #speciesSingle .species-capacities div {
     padding: 20px;
 }
