.obligation-table thead {
    background-color: #000000;
    color: white;
}

.obligation-table .obligation-title {
    font-weight: 600;
}

.obligation-table tbody tr > td {
    min-width: 80px;
}

.obligation-table tr:hover {
    background-color: transparent;
}

.obligation-table tr.eoe {
    background-color: #cb3434;
}

.obligation-table tr.aor {
    background-color: #bb1133;
}

.obligation-table tr.fad {
    background-color: #008000;
}