<div class="container-fluid">

	<ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

	<section *ngIf="isPageLoaded" id="speciesSingle">

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a routerLink="/">
						<i class="ra ra-lg ra-ship-emblem"></i>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a routerLink="/species">Espèces</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ species.label }}</li>
			</ol>
		</nav>

		<div class="row page-title">
			<div class="page-title-label">
				<p>{{ species.label | uppercase }}</p>
			</div>
		</div>

		<div class="row species-characteristics">
			<div class="col-sm block text-center">
				<img src="assets/images/species/{{ species.key }}.png" class="img-responsive" />
			</div>
			<div class="col-sm block">
				<div class="characteristics">
					<p>Caractéristiques</p>
					<p>
						<span class="sub-title">Vigeur :</span>
						<span>{{ species.characteristics.brawn }}</span>
					</p>
					<p>
						<span class="sub-title">Agilité :</span>
						<span>{{ species.characteristics.agility }}</span>
					</p>
					<p>
						<span class="sub-title">Intelligence :</span>
						<span>{{ species.characteristics.intellect }}</span>
					</p>
					<p>
						<span class="sub-title">Ruse :</span>
						<span>{{ species.characteristics.cunning }}</span>
					</p>
					<p>
						<span class="sub-title">Volonté :</span>
						<span>{{ species.characteristics.willpower }}</span>
					</p>
					<p>
						<span class="sub-title">Présence :</span>
						<span>{{ species.characteristics.presence }}</span>
					</p>
				</div>
				<div class="characteristics-other">
					<p>
						<span class="sub-title">Seuil de blessure:</span>
						<span [innerHtml]="species.woundTreshold"></span>
					</p>
					<p>
						<span class="sub-title">Seuil de stress:</span>
						<span [innerHtml]="species.strainTreshold"></span>
					</p>
					<p>
						<span class="sub-title">PX de départ:</span>
						<span>{{ species.startingXp }}</span>
					</p>
					<ng-container *ngIf="species.specialAbilityProcess.length > 0">
							<span class="sub-title">Capacité spéciale:</span>
							<span *ngFor="let ability of species.specialAbilityProcess"> {{ ability.label }}</span>
					</ng-container>
					<ng-container *ngIf="species.key === 'human'">
						<p>+1 dans deux compétences au choix</p>
					</ng-container>
				</div>
			</div>
		</div>

		<div class="row species-capacities">
			<div class="col-sm block">
				<p class="text-center sub-title">Capacité spéciale</p>
				<p class="text-justify" [innerHTML]="species.specialAbility"></p>
			</div>
			<div class="col-sm block">
				<p class="text-center sub-title">Autres capacités</p>
				<ng-container *ngIf="species.otherAbilities.length > 0">
					<p class="text-justify" *ngFor="let otherAbility of species.otherAbilities">
						<span [innerHTML]="otherAbility.label" class="sub-title"></span>
						<span [innerHTML]="otherAbility.description"></span>
					</p>
				</ng-container>
				<ng-container *ngIf="species.otherAbilities.length === 0">
					<p class="text-center">-</p>
				</ng-container>
			</div>
		</div>

		<div class="row species-description">
			<div class="col-sm">
				<div class="row">
					<div class="col-sm text-center">
						<p class="sub-title">Description</p>
					</div>
				</div>
				<div class="col-sm text-center"></div>
				<div class="row block">
					<p class="text-justify" [innerHTML]="species.descriptionLong"></p>
				</div>
			</div>
		</div>


	</section>
</div>