<div class="container-fluid">

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <i class="ra ra-lg ra-ship-emblem"></i>
        </a>
      </li>
      <li class="breadcrumb-item" aria-current="page">Outil</li>
      <li class="breadcrumb-item active" aria-current="page">Générateur de personnage</li>
    </ol>
  </nav>

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="characterGenerator">

    <!-- Title -->
    <div class="row page-title">
      <div class="col-sm">
        <p>GÉNÉRATEUR DE PERSONNAGE</p>
        <p>
          <small>
            <em>(Développement terminé. Amélioration des fichiers de données en cours)</em>
          </small>
        </p>
      </div>
    </div>

    <div class="row button-random">
      <button class="btn btn-primary" (click)="randomize()">
        <i class="ra ra-lg ra-perspective-dice-random"></i>
        <span>Générer un personnage</span>
        <i class="ra ra-lg ra-perspective-dice-random"></i>
      </button>
    </div>

    <div class="row">
      <div class="col">

        <div class="character-property">
          <label>Espèce</label>
          <p>
            <span>{{ character.species.label }}</span>
            <a target="blank" routerLink="/species/{{ character.species.key }}">(fiche
              <i class="fa fa-external-link" aria-hidden="true"></i>)
            </a>
          </p>
        </div>

        <div class="character-property">
          <label>Carrière</label>
          <p>
            <span>{{ character.career.label }}</span>
            <a target="blank" routerLink="/careers/{{ character.career.key }}">(fiche
              <i class="fa fa-external-link" aria-hidden="true"></i>)</a>
          </p>
        </div>

        <div class="character-property">
          <label>Spécialisations</label>
          <ul>
            <li *ngFor="let specialization of character.specializations">{{ specialization.label }}</li>
          </ul>
        </div>

        <div class="character-property">
          <label>Sensibilité à la Force</label>
          <p>
            <span *ngIf="!character.hasForce">Non sensible</span>
            <span *ngIf="character.hasForce && character.career.universKey === 'eoe'">Fugitif de la Force
              <a target="_blank" href="assets/resources/files/careers/sw_aor_core_ace_tree.pdf">(fiche
                <i class="fa fa-external-link" aria-hidden="true"></i>)</a>
            </span>
            <span *ngIf="character.hasForce && character.career.universKey === 'aor'">Aspirant de la Force
              <a target="_blank" href="assets/resources/files/careers/sw_aor_core_ace_tree.pdf">(fiche
                <i class="fa fa-external-link" aria-hidden="true"></i>)</a>
            </span>
            <span *ngIf="character.hasForce && character.career.universKey === 'fad'">Jedi</span>
          </p>
        </div>

        <div class="character-property">
          <label>Equipments
            <i class="ra ra-lg ra-perspective-dice-random" (click)="reRandomEquipments()"></i>
          </label>
          <p>Armes</p>
          <ul>
            <li *ngFor="let weapon of character.weapons">
              <span *ngIf="weapon !== ''" >{{ weapon.label }}</span>
            </li>
          </ul>
          <p>Armure</p>
          <ul>
            <li *ngFor="let armor of character.armors">{{ armor.label }}</li>
          </ul>
          <p>Equipements</p>
          <ul>
            <li *ngFor="let equipment of character.equipments">{{ equipment.label }}</li>
          </ul>
        </div>

      </div>

      <div class="col">
        <ng-container *ngFor="let skill of character.skills">
          <div *ngIf="skill.value > 0" class="character-skill">
            <label>{{ skill.label }}</label>
            <ngb-progressbar type="info" [value]="skill.value * 20">{{ skill.value }}</ngb-progressbar>
            <p class="skill-type">
              <span *ngIf="skill.isSpecies">Espèce</span>
              <span *ngIf="skill.isCareer">Carrière</span>
              <span *ngIf="skill.isSpecialization">Spécialisation</span>
            </p>
          </div>
        </ng-container>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        <div class="character-property text-justify">
          <ng-container *ngIf="character.career.universKey === 'eoe'">
            <label>Obligation</label>
            <p>
              <span>{{ character.obligation.title }} - </span>
              <span>{{ character.obligation.description }}</span>
            </p>
          </ng-container>
          <ng-container *ngIf="character.career.universKey === 'aor'">
            <label>Devoir</label>
            <p>
              <span>{{ character.obligation.title }} - </span>
              <span>{{ character.obligation.description }}</span>
            </p>
          </ng-container>
          <ng-container *ngIf="character.career.universKey === 'fad'">
            <label>Moralité</label>
            <p>
              <span>{{ character.obligation.emotionalForceTitle }} - </span>
              <span>{{ character.obligation.emotionalForceDescription }}</span>
            </p>
            <p>
              <span>{{ character.obligation.emotionalWeaknessTitle }} - </span>
              <span>{{ character.obligation.emotionalWeaknessDescription }}</span>
            </p>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="character-property">
          <label>Motivations</label>
          <p>Fichiers de données inexistants (voir avec le MJ)</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="character-property">
          <label>Véhicule / Vaisseau</label>
          <div *ngFor="let vehicule of character.vehicules">
            <p>{{ vehicule.label }}</p>
            <p>
              <img src="assets/images/vehicules/{{ vehicule.image }}" />
            </p>
          </div>
        </div>
      </div>
    </div>


  </section>

</div>