<table class="table table-responsive equipment-table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col" class="text-center">Visuel</th>
        <th scope="col">Prix</th>
        <th scope="col">Encombrement</th>
        <th scope="col">Rareté</th>
      </tr>
    </thead>
    <tbody role="tabpanel">
      <tr *ngFor="let equipment of equipments">
        <td scope="row">{{ equipment.label }}</td>
        <td class="text-center">
          <p *ngIf="equipment.image !== ''"><img src="{{ equipmentImagesFolder + equipment.image }}" (click)="openImage(equipmentImagesFolder + equipment.image, equipment.label)" /></p>
          <p *ngIf="equipment.image === ''">-</p>
        </td>
        <td>{{ equipment.price }}</td>
        <td>{{ equipment.encombrement }}</td>
        <td>{{ equipment.rarety }}</td>
      </tr>
    </tbody>
  </table>