<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <p>Star Wars FFG</p>
    </div>
  </div>

  <div class="row ffg-introduction">
      <div class="col text-justify">
        <p>Cet nouvelle gamme permet de jouer des personnages issus de plusieurs facettes de l'univers de <em>Star Wars</em>.</p>
        <p>La Bordure extérieure, zones reculées de l'Empire abrite des personnages comme les colons ou traficants. </p>
        <p>L'Alliance rebelle</p>
        <p>La Force et ses utilisateurs </p>
      </div>
    </div>

  <div class="row">
    <div class="col text-center">
      <img class="img-fluid" src="assets/images/others/xwing-and-explosion.png" />
    </div>
  </div>
</div>