<div class="container-fluid">
  <div class="row">
    <div class="col text-center home-title">
      <p>Star Wars FFG</p>
    </div>
  </div>

  <div class="row ffg-introduction">
    <div class="col text-justify">
      <p>
        <em>Il y a bien longtemps, dans une galaxie lointaine, très lointaine…</em>
      </p>
    </div>
  </div>

  <div class="row gamme-introduction align-items-center">
    <div class="col-sm">
      <p class="text-justify">C’est une période de troubles où chacun peut saisir sa chance.
        <strong>Aux confins de l'Empire</strong>, dans les zones reculées de la Bordure extérieure où la seule loi est celle du plus
        fort, des vauriens et des contrebandiers, des chasseurs de primes et des bandits, des explorateurs et des exilés
        luttent pour leur survie. Fuyez les agents impériaux, bernez Hutts et scélérats et passez en vitesse lumière dans
        le tas de ferraille le plus rapide de la galaxie !
      </p>
    </div>
    <div class="col-sm">
      <p>
        <img class="img-fluid" src="assets/images/others/star_wars_al_filo.jpg" />
      </p>
    </div>
  </div>

  <div class="row gamme-introduction align-items-center">
    <div class="col-sm">
      <p>
        <img class="img-fluid" src="assets/images/others/xwing-and-explosion.png" />
      </p>
    </div>
    <div class="col-sm">
      <p class="text-justify ">La galaxie a sombré dans la guerre civile. L’Empire règne sur des milliers de systèmes stellaires par la force et la
        terreur. Des soldats et des espions, des mécaniciens et des médecins, des pilotes et des ambassadeurs se dressent
        face à cet adversaire qui les dépasse pour faire triompher la liberté. Rejoignez la <strong>Rébellion</strong> dans le conflit qui
        l'oppose à l'Empire Galactique. Affrontez des légions de stormtroopers, dérobez des plans et des codes secrets, foncez
        sur l’objectif et triomphez de la plus grande armée de l’univers.
      </p>

    </div>
  </div>

  <div class="row gamme-introduction align-items-center">
    <div class="col-sm">
      <p class="text-justify">Après la destruction des Jedi, errants et sentinelles, gardiens et guerriers,
        arpenteurs et pacificateurs doivent apprendre seuls à utiliser <strong>la Force</strong> pour ramener la paix et la justice dans la
        galaxie. Engagez-vous sur la voie de la Force, fabriquez votre sabre laser, libérez les malheureux et les opprimés,
        et affrontez en duel les effroyables agents des Sith pour rétablir l’équilibre de la Force.
      </p>
    </div>
    <div class="col-sm">
      <p>
        <img class="img-fluid" src="assets/images/others/swf40_preview3.jpg" />
      </p>
    </div>
  </div>


</div>