.row {
    display: flex;
    flex-wrap: wrap;
 }

#careersSingle .card {
    margin-bottom: 30px;
}

#careersSingle .career-skills {
     margin-bottom: 20px;
     border-bottom: 1px solid purple;
 }

#careersSingle .career-skills img {
     width: 100%;
     max-width: 400px;
 }

#careersSingle .career-skills .skills p:first-child {
    margin-bottom: 0px;
}

#careersSingle .career-description {
    margin-bottom: 20px;
    border-bottom: 1px solid purple;
}

#careersSingle .block {
    padding: 20px;
}

#careersSingle .career-specializations {
    margin-bottom: 20px;
    border-bottom: 1px solid purple;
}

#careersSingle .career-specializations-title {
    text-align: center;
    font-weight: 600;
}

#careersSingle .career-specializations-talents {
    text-align: center;
}

#careersSingle .career-specializations .card-title {
    margin-bottom: 20px;
}

#careersSingle .specialization-label {
    font-weight: 600;
    margin-bottom: 0px;
}

#careersSingle .career-specializations img {
    max-width: 100px;
}

#careersSingle .career-specialization-skills {
    margin-bottom: 20px;
}

#careersSingle .career-specialization-skills p:first-child small {
    margin-bottom: 10px;
    font-weight: 600;
}

#careersSingle .career-specialization-skills p {
    margin-bottom: 0px;
}

.career-obligations p {
    margin-bottom: 10px;
}

 /* Responsive */

 @media (max-width: 700px) {
    #careersSingle .career-skills .skills {
        padding-left: 25%;
    }   
}