<div class="container-fluid">

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="careersSingle">

    <div class="row page-title">
      <div class="page-title-label">
        <p>{{ career.label }}</p>
      </div>
    </div>

    <div class="row career-skills">
      <div class="col-sm block text-center">
        <img src="assets/images/careers/{{ career.key }}.jpg" class="img-responsive" />
      </div>
      <div class="col-sm block">
        <div class="skills">
          <p>Compétences de carrière</p>
          <p>
            <small>(4 à choisir parmi les 8)</small>
          </p>
          <p *ngFor="let skill of career.skills">
            <span class="sub-title">{{ skill.label}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="row career-description">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm text-center">
            <p class="sub-title">Description</p>
          </div>
        </div>
        <div class="col-sm text-center"></div>
        <div class="row block">
          <p class="text-justify">{{ career.description }}</p>
        </div>
      </div>
    </div>

    <div class="row career-specializations">
      <div class="card-deck">
        <div class="card" *ngFor="let specialization of career.specialization">
          <div class="card-body">
            <div class="card-title">
              <p class="specialization-label text-center">{{ specialization.label }}</p>
              <p class="text-center">
                <small>
                  <em>{{ specialization.subLabel }}</em>
                </small>
              </p>
            </div>
            <div class="row career-specialization-skills">
              <div class="col-sm text-center">
                <img src="assets/images/careers/specialization/{{ specialization.key }}.png" />
              </div>
              <div class="col-sm">
                <p>
                  <small>Compétences de spécialisation</small>
                </p>
                <p *ngFor="let skill of specialization.skills">
                  <span>
                    <small>{{ skill.label }}</small>
                  </span>
                </p>
              </div>
            </div>
            <p class="card-text text-justify" [innerHtml]="specialization.description"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row career-obligations">
      <div class="col-sm">
        <p>Liste des {{ obligationLabel }}</p>
        <app-obligations type="{{ obligationType }}"></app-obligations>
      </div>
    </div>


  </section>

</div>