<div class="container-fluid" id="resources">

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <i class="ra ra-lg ra-ship-emblem"></i>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Ressources</li>
    </ol>
  </nav>

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="resourcesSection">

    <div class="row page-title">
      <div class="page-title-label">
        <p>RESSOURCES</p>
      </div>
    </div>

    <div class="row pdfs">
      <div class="col-sm column-resources">
        <p>Arbres des talents par carrière</p>

        <p class="eoe-talents">Bordure extérieure</p>

        <p *ngFor="let career of eoeCareers">
          <a target="_blank" href="{{ careersFilesFolder + career.careerTreeFile }}">{{ career.label }}</a>
        </p>

        <p class="aor-talents">Alliance & Rébellion</p>

        <p *ngFor="let career of aorCareers">
          <a target="_blank" href="{{ careersFilesFolder + career.careerTreeFile }}">{{ career.label }}</a>
        </p>

        <p class="fad-talents">Force</p>

        <p *ngFor="let career of fadCareers">
          <a target="_blank" href="{{ careersFilesFolder + career.careerTreeFile }}">{{ career.label }}</a>
        </p>

        <p>Fichiers audio</p>
        <p>Pesh</p>
        <audio controls>
          <source src="assets/resources/files/sounds/Pesh.mp3" type="audio/mp3">
        </audio>

        <p>Harsol</p>
        <audio controls>
          <source src="assets/resources/files/sounds/harsol.mp3" type="audio/mp3">
        </audio>

        <p>Tie</p>
        <audio controls>
          <source src="assets/resources/files/sounds/tie.mp3" type="audio/mp3">
        </audio>
      </div>

      <div class="col-sm column-resources">
        <p>Fiche de personnage</p>

        <p class="eoe-character-sheet">
          <a target="_blank" href="{{ charactersFilesFolder + 'sw_eoe_character_sheet.pdf' }}">Bordure extérieure</a>
        </p>

        <p class="aor-character-sheet">
          <a target="_blank" href="{{ charactersFilesFolder + 'sw_aor_core_character_sheet.pdf' }}">Alliance & Rébellion</a>
        </p>
        <p class="fad-character-sheet">
          <a target="_blank" href="{{ charactersFilesFolder + 'sw_rpg_fad_character_sheet.pdf' }}">Force</a>
        </p>

        <p class="resources-title">Règles</p>
        <p class="aor-character-sheet">
          <a target="_blank" href="assets/resources/files/rules/sw_rpg_eoe_cartoon_rules_fr.pdf">Système de dés</a>
        </p>
      </div>
    </div>
  </section>


</div>