<div class="container-fluid">

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <i class="ra ra-lg ra-ship-emblem"></i>
        </a>
      </li>
      <li class="breadcrumb-item" aria-current="page">Outil</li>
      <li class="breadcrumb-item active" aria-current="page">Créateur de personnage</li>
    </ol>
  </nav>

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="characterCreator">

    <div class="row page-title">
      <div class="page-title-label">
        <p>CRÉATEUR DE PERSONNAGE</p>
        <p>
          <small>
            <em>En cours de développement</em>
          </small>
        </p>
      </div>
    </div>

    <div class="row">
      <p class="step-main-title">1. Sélectionner l'espèce</p>
    </div>

    <div class="row step-container">
      <div class="col-6">
        <select [(ngModel)]="selectedSpecies" (change)="changeSpecies()">
          <option *ngFor="let s of species" [ngValue]="s">{{ s.label }}</option>
        </select>
        <div class="row">
          <div class="col">
            <img src="assets/images/species/{{ selectedSpecies.key }}.png" width="100px" />
          </div>
          <div class="col">
            <ng-container *ngIf="selectedSpecies.specialAbilityProcess.length === 0">
              <p> Aucune spécialité </p>
            </ng-container>
            <ng-container *ngIf="selectedSpecies.specialAbilityProcess.length === 1">
              <p *ngFor="let specialAbility of selectedSpecies.specialAbilityProcess"> {{ specialAbility.label }} </p>
            </ng-container>
            <ng-container *ngIf="selectedSpecies.specialAbilityProcess.length > 1">
              <form>
                <div *ngFor="let specialAbility of selectedSpecies.specialAbilityProcess">
                  <div class="custom-control custom-radio">
                    <input type="radio" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label">{{ specialAbility.label }}</label>
                  </div>
                </div>
              </form>

            </ng-container>

          </div>

        </div>
      </div>

      <div class="col-6">
        <p class="step-title">Caractérisques</p>
        <p>Vigueur : {{ selectedSpecies.characteristics.brawn }}</p>
        <p>Agilité : {{ selectedSpecies.characteristics.agility }}</p>
        <p>Intelligence : {{ selectedSpecies.characteristics.intellect }}</p>
        <p>Ruse : {{ selectedSpecies.characteristics.cunning }}</p>
        <p>Volonté : {{ selectedSpecies.characteristics.willpower }}</p>
        <p>Présence : {{ selectedSpecies.characteristics.presence }}</p>
      </div>
    </div>

    <div class="row">
      <p class="step-main-title">2. Sélectionner carrière et spécialité</p>
    </div>

    <div class="row step-container">
      <div class="col-6">
        <select [(ngModel)]="selectedCareer" (change)="changeCareer()">
          <option *ngFor="let c of careers" [ngValue]="c">{{ c.label }}</option>
        </select>
        <div class="row">
          <div class="col">
            <img src="assets/images/careers/{{ selectedCareer.key }}.png" width="100px" />
          </div>
          <div class="col">
            <ng-container *ngFor="let skill of character.skills">
              <p *ngIf="skill.career">
                <button *ngIf="skill.selectedCareer" class="btn btn-skill btn-career" type="button" [disabled]="skill.value === 0" (click)="downSkillCa(skill)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <button *ngIf="!skill.selectedCareer" class="btn btn-skill btn-career" type="button" [disabled]="skill.value === 2 || skill.selectedCareer || countSelectedCareers() > 3"
                  (click)="upSkillCa(skill)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <span [ngClass]="{ 'skill-selected': skill.selectedCareer }">{{ skill.label }}</span>
              </p>
            </ng-container>
          </div>
        </div>

        <select [(ngModel)]="selectedSpecialization" (change)="changeSpecialization()">
          <option *ngFor="let sp of selectedCareer.specialization" [ngValue]="sp">{{ sp.label }}</option>
        </select>

        <div class="row">
          <div class="col">
            <img src="assets/images/careers/specialization/{{ selectedSpecialization.key }}.png" width="100px" />
          </div>
          <div class="col">
            <ng-container *ngFor="let skill of character.skills">
              <p *ngIf="skill.specialization">
                <button *ngIf="skill.selectedSpecialization" class="btn btn-skill btn-specialization" type="button" [disabled]="skill.value === 0"
                  (click)="downSkillSp(skill)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <button *ngIf="!skill.selectedSpecialization" class="btn btn-skill btn-specialization" type="button" [disabled]="skill.value === 2 || skill.selectedSpecialization || countSelectedSpecializations() > 1"
                  (click)="upSkillSp(skill)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <span [ngClass]="{ 'specialization-selected': skill.selectedSpecialization }">{{ skill.label }}</span>
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-6">
        <p class="step-title">Compétences</p>
        <div *ngFor="let skill of character.skills">
          <ng-container *ngIf="skill.career || skill.specialization || skill.species">
            <div class="row skill">
              <div class="col">
                <span>{{ skill.label }}</span>
              </div>
            </div>
            <div class="row align-items-center">
              <ngb-progressbar type="info" [value]="skill.value * 20">{{ skill.value }}</ngb-progressbar>
              <span *ngIf="skill.species">Espèce</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </section>

</div>