<div class="container-fluid" id="careersList">

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <i class="ra ra-lg ra-ship-emblem"></i>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Liste des carrières</li>
    </ol>
  </nav>

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <section *ngIf="isPageLoaded" id="careersList">

    <div class="row page-title">
      <div class="page-title-label">
        <p>LISTE DES CARRIÈRES</p>
      </div>
    </div>

    <div class="card-deck" *ngFor="let careerLine of careers">
      <div class="card clickable" *ngFor="let career of careerLine" routerLink="/careers/{{ career.key }}" [ngClass]="{'eoe': career.universKey == 'eoe', 'aor': career.universKey == 'aor', 'fad': career.universKey == 'fad'}">
        <img class="card-img-top" src="assets/images/careers/{{ career.key }}-h.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ career.label }}</h4>
          <p class="card-text text-justify" [innerHtml]="career.descriptionShort"></p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">{{ career.univers }}</small>
        </div>
      </div>
    </div>
  </section>
</div>