<table class="table table-responsive vehicule-table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col" class="text-center">Visuel</th>
        <th scope="col">Type</th>
        <th scope="col">Equipages/passagers</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody role="tabpanel">
      <tr *ngFor="let vehicule of vehicules">
        <td scope="row">{{ vehicule.label }}</td>
        <td class="text-center">
          <p *ngIf="vehicule.image !== ''"><img src="{{ vehiculesImagesFolder + vehicule.image }}" (click)="openImage(vehiculesImagesFolder + vehicule.image, vehicule.label)" /></p>
          <p *ngIf="vehicule.image === ''">-</p>
        </td>
        <td>{{ vehicule.type }}</td>
        <td>{{ vehicule.crew }} / {{ vehicule.passagers }}</td>
        <td>{{ vehicule.price }}</td>
      </tr>
    </tbody>
  </table>