.page-title {
    font-weight: 600;
}

#characterCreation {
    padding: 20px;
}

#characterCreation .step-title {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

#characterCreation .characteristic {
    font-style: italic;
    font-weight: 500;
}